 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

 }

 body {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #555555;


 }

 .clear {
    clear: both;
 }

 .header_section {
    background-image: url(../imgs/header.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
 }



 .nav {
    z-index: 1111111;
    /* background-color: aquamarine; */
    padding: 20px;
    box-sizing: border-box;
    position: relative;

 }

 .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 }

 .nav .logo {
    display: inline-block;
    text-decoration: none;
    /* background-color: bisque; */
    width: 40%;
    box-sizing: border-box;
    z-index: 1111111;





 }

 .nav .logo a {
    text-decoration: none;
    color: #ff305b;
    font-size: 24px;
    font-weight: 800;
    padding-left: 100px;
 }

 .nav_list {
    width: 50%;
    box-sizing: border-box;
    float: right;




 }

 .nav_list li {
    box-sizing: border-box;
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 20px;



 }

 .nav_list li a {

    color: aliceblue;
    text-decoration: none;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    font-size: 17px;
 }

 .nav_list li a:hover {
    color: #ff305b;
 }


 /* ----------------------------- */
 .header_info {
    text-align: center;
    margin-top: 12%;
    position: relative;
    z-index: 1111111;
 }

 .header_info h3 {
    color: aliceblue;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
 }

 .header_info h1 {
    color: #ff305b;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
 }

 .header_info p {
    color: aliceblue;
    font-size: 26px;
    font-weight: 300;
    animation-name: annimation;
    animation-duration: 4s;
 }


 @media screen and (min-width:430px) and (max-width:780px) {
    .nav .logo {
       /* background-color: aquamarine; */
       margin: 0;

       width: 20%;
       padding: 0;
       float: left;


    }

    .nav_list {
       background-color: #333333;
       width: 70%;
       float: right;


    }

    .nav_list li {
       text-align: center;
       display: block;



    }

    .header_info {
       margin-top: 5%;
    }

    .header_info h3 {
       font-size: 18px;
    }

    .header_info h1 {
       font-size: 40px;
    }
 }

 @media screen and (min-width:781px) and (max-width:1300px) {
    .nav .logo {
       /* background-color: #ff0033; */
       width: 20%;
    }

    .nav_list {
       width: 75%;
    }

    .nav_list li {

       padding: 2px;
       margin-left: 15px;


    }

    .header_info h1 {
       font-size: 60px;
    }
 }

 /* section2 */
 .about_section {
    margin-top: 70px;
    margin-bottom: 90px;

    /* background-color: aquamarine; */
 }

 .about_section .container {
    /* background-color: rgba(0, 0, 0, 0.454); */
    width: 75%;
    margin: auto;
 }

 .about_section .about_me {
    width: 60%;
    /* background-color:yellow; */
    float: left;

    padding-left: 100px;
    box-sizing: border-box;
 }

 .about_section .about_me h2 {
    font-size: 34px;
    color: #333;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 25px;
    padding-left: 13px;
    position: relative;

 }

 .about_section .about_me h2::before {
    content: "I";
    color: #ff305b;

 }

 .about_section .about_me p {
    padding-bottom: 20px;
    border-bottom: black dashed 1px;
    line-height: 20px;
    margin-bottom: 10px;
    line-height: 25px;
 }

 .about_section .person_img {
    /* background-color: #ff305b; */
    box-sizing: border-box;
    width: 30%;
    float: left;
    border: 8px solid #555555;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-left: 100px;
    position: relative;

 }

 .about_section .person_img img {
    width: 100%;
    border-radius: 8px;
    transform: translate(24px, 24px);
    -webkit-transform: translate(24px, 24px);
    -moz-transform: translate(24px, 24px);
    -ms-transform: translate(24px, 24px);
    -o-transform: translate(24px, 24px);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
 }

 .about_section .person_img .person_img_overlay {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 24px;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease 0s;
 }

 .about_section .person_img .person_img_overlay i {

    color: white;
    font-size: 20px;
    margin-top: 50%;
    padding-right: 20px;


 }

 .about_section .person_img .person_img_overlay:hover {
    opacity: 1;

 }

 .about_section .about_me table td {
    padding-right: 50px;
    line-height: 25px;
 }

 .btn {
    padding: 12px 25px;
    background-color: #ff305b;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 4px;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
 }

 .btn:hover {
    background-color: #ff0033;
 }

 .btn i {
    padding-left: 8px;

 }

 .btn a {
    color: white;
    text-decoration: none;
    font-weight: 700;
 }

 /* media----------- */
 @media screen and (min-width:430px) and (max-width:770px) {
    .about_section .person_img {
       width: 80%;
       margin-left: 40px;
       border: none;
    }

    .about_section .about_me {
       width: 100%;
       margin-top: 100px;
       padding-left: 0;

    }

 }

 /* media */
 @media screen and (min-width:771px) and (max-width:1330px) {
    .about_section .container {
       width: 100%;
    }

    .about_section .person_img {
       width: 30%;
       margin-left: 50px;
       border: none;
      
    }

    .about_section .person_img img {
       transform: translate(0px, 0px);
       -webkit-transform: translate(0px, 0px);
       -moz-transform: translate(0px, 0px);
       -ms-transform: translate(0px, 0px);
       -o-transform: translate(0px, 0px);
    }

    .about_section .about_me {
       width: 50%;
       padding-left: 50px;
    }
    .about_section .person_img .person_img_overlay {
      top: 0px;
      bottom: 0;
      left: 0px;
      right: 0;
    }

 }

 /* services---------------------------------- */
 .services .container,
 .portofolio .container,
 .feedback_section .container,
 .blog .container,
 .contact_us .container,
 .footer .container {

    width: 75%;
    margin: auto;
    text-align: center;
    padding-bottom: 60px;
    position: relative;
 }

 .services .container h2,
 .portofolio .container h2,
 .feedback_section h2,
 .blog h2,
 .contact_us h2 {
    padding-top: 70px;
    margin-bottom: 70px;
    font-size: 40px;
    font-weight: 800;



 }


 .line {
    width: 15%;
    height: 1px;
    background-color: #ff305b;
    position: absolute;
    top: 130px;
    left: 42%;

 }

 .line::after {
    content: "";
    width: 50%;
    height: 1px;
    background-color: #ff0033;
    position: absolute;
    top: 6px;
    left: 22%;
 }

 .line::before {
    content: "";
    width: 50%;
    height: 1px;
    background-color: #ff0033;
    position: absolute;
    bottom: 6px;
    left: 22%;
 }


 .services .services_info {
    width: 25%;
    box-sizing: border-box;
    /* background-color: aqua; */

    float: left;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
 }

 .services .services_info:hover {
    background-color: white;

    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
 }

 .services .services_info:hover i {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
 }

 .services_info i {
    padding: 25px;
    font-size: 27px;
    color: #ff305b;
    transition: all 0.3s 0.1s;
    -webkit-transition: all 0.3s 0.1s;
    -moz-transition: all 0.3s 0.1s;
    -ms-transition: all 0.3s 0.1s;
    -o-transition: all 0.3s 0.1s;
 }

 .services_info h3 {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 600;

 }

 .services_info p {
    line-height: 28px;
    color: #6b6868;
    padding-bottom: 50px;
 }


 /* media_3---- */
 @media screen and (min-width:430px) and (max-width:770px) {
    .services .container {
       width: 100%;
    }

    .services .services_info {
       width: 100%;
    }
 }

 @media screen and (min-width:771px) and (max-width:1180px) {
    .services .container {
       width: 100%;
    }

    .services .services_info {
       width: 50%;
    }
    .services_info h3{
      font-size: 20px;
    }
 }

 @media screen and (min-width:1001px) {

    .services .services_info {
       width: 25%;
    }
 }



 /* Section_portofolio */

 .portofolio .container {
    width: 60%;
    margin: auto;
    /* background-color: aqua; */
    /* margin-left: 15%; */

 }

 .portofolio li {
    float: left;
    list-style: none;
    padding-left: 20px;
 }

 .portofolio ul {
    padding-left: 30%;
    padding-bottom: 50px;


 }

 .portofolio a {
    color: #555555;
 }

 .portofolio .product_info .box {
    width: 45%;
    float: left;
    box-sizing: border-box;
    padding: 25px 25px 25px 3px;
    position: relative;

 }

 .portofolio .product_info .box img {
    width: 100%;
 }

 .portofolio .product_info .box .product_img {
    position: relative;
 }

 .portofolio .product_info .box .product_img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.3s 0.1s;
    -webkit-transition: all 0.3s 0.1s;
    -moz-transition: all 0.3s 0.1s;
    -ms-transition: all 0.3s 0.1s;
    -o-transition: all 0.3s 0.1s;
 }

 .portofolio .product_info .box .product_img .overlay:hover {
    opacity: 1;
 }


 .portofolio .product_info .box .overlay i {
    position: absolute;
    top: 85%;
    bottom: 0;
    right: 20px;
    color: #ff305b;
    transition: all 0.3s 0.1s;
    -webkit-transition: all 0.3s 0.1s;
    -moz-transition: all 0.3s 0.1s;
    -ms-transition: all 0.3s 0.1s;
    -o-transition: all 0.3s 0.1s;


 }

 .portofolio .product_info .box .product_img .overlay:hover i {
    font-size: 24px;

 }

 @media screen and (min-width:430px) and (max-width:770px) {
    .portofolio ul {
       padding-left: 20%;
    }

    .portofolio .container {
       width: 90%;

    }

    .portofolio .product_info .box {
       width: 75%;
       margin-left: 100px;



    }

 }

 @media screen and (min-width:771px) and (max-width:1000px) {
    .portofolio .container {
       width: 90%;
    }

    .portofolio .product_info .box {
       width: 45%;
    }

 }

 /* count section---------------------------------- */
 .count {
    background-color: #f1f1f1;
 }

 .count .container {
    width: 80%;
    margin: auto;
    /* background-color: #a39e9e; */
 }

 .count .box {
    width: 25%;
    /* background-color: aqua; */
    padding: 80px 20px;
    box-sizing: border-box;
    float: left;
    text-align: center;
 }

 .count .box i {
    padding-bottom: 15px;
    font-size: 24px;
    color: #ff305b;
 }

 .count .box h3 {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 10px;
    color: b;
 }

 .count .box h5 {
    font-size: 16px;
    color: #7e7878;
 }

 /* media------------------------- */
 @media screen and (min-width:430px) and (max-width:770px) {
    .count .container {
       width: 100%;
    }

    .count .box {
       width: 100%;
    }
 }

 /*  feedback_section*/

 .feedback_section .box_feedback {
    background-color: #f1f1f1;
    width: 80%;
    margin: auto;
    text-align: left;
    padding-bottom: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
 }

 .box_feedback .feedback {
    width: 70%;
    float: left;
    padding-left: 30px;
    box-sizing: border-box;
    /* background-color: aqua; */


 }

 .box_feedback .person_img {
    /*background-color: #ff305b;
    */
    width: 25%;
    float: left;
    border-radius: 100%;
    z-index: 99999;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
 }

 .box_feedback img {
    width: 100%;
    margin-top: 60px;
    padding-left: 60px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
 }

 .box_feedback .feedback h3 {
    padding: 40px 0 10px 40px;
    font-size: 26px;
    font-weight: 500;
    color: #333;


 }

 .box_feedback .feedback a {
    color: #555555;
    text-decoration: none;
    padding: 20px 40px;
 }

 .box_feedback .feedback p {
    padding: 20px 40px;
    line-height: 27px;
 }

 .box_feedback .feedback .icons {
    padding: 10px 40px;

 }

 .box_feedback .feedback .icons i {
    color: rgb(248, 224, 43);
    padding: 3px;


 }

 .box_feedback .traingle {
    border-top: 221px #ff305b solid;
    border-bottom: 60px transparent solid;
    border-left: 60px transparent solid;
    border-right: 60px transparent solid;
    position: absolute;
    top: 0;
    left: -189px;
    border-width: 191px;
 }

 @media screen and (min-width:430px) and (max-width:770px) {
    .feedback .container {
       width: 100%;
    }

    .feedback_section .box_feedback {
       width: 100%;
    }

    .box_feedback .person_img {
       width: 35%;
       float: none;
       top: 50%;
       left: 50%;
       transform: translateX(-50%);
       -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
       -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
    }

    .box_feedback .feedback {
       padding-left: 0px;
    }
 }

 @media screen and (min-width:771px) and (max-width:1000px) {
    .feedback .container {
       width: 100%;
    }

    .feedback_section .box_feedback {
       width: 100%;
    }

    .box_feedback .feedback {
       padding-left: 0px;
    }
 }




 /* blog_section ------------*/
 .blog {
    background-color: #f1f1f1;

    /* background-color: aqua; */
 }

 .blog .box {
    text-align: left;
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    border: 20px solid #f1f1f1;
    margin-top: 30px;
    /* padding-right: 30px; */
    background-color: white;
    padding-bottom: 30px;

 }

 .blog .box img {
    width: 100%;
    padding-bottom: 15px;
 }

 .blog .box iframe {
    width: 100%;
    height: 195px;
    padding-bottom: 15px;

 }

 .blog .box h4 {
    padding: 13px 20px;


 }

 .blog .box .b1 a,
 .blog .box a {
    text-decoration: none;
    color: #333333f8;
    font-weight: 500;
    font-size: 24px;
    transition: all 0.3s 0.1s;
    -webkit-transition: all 0.3s 0.1s;
    -moz-transition: all 0.3s 0.1s;
    -ms-transition: all 0.3s 0.1s;
    -o-transition: all 0.3s 0.1s;
 }

 .blog .box .b1 a:hover,
 .blog .box a:hover {
    color: #ff305b;
 }

 .blog .box a {
    font-size: 16px;
    padding: 20px 20px;

 }

 .blog .box p {
    line-height: 27px;

    padding: 20px 0 15px 20px;
 }

 /* media---------------------------- */
 @media screen and (min-width:430px) and (max-width:770px) {


    .blog .box {
       width: 85%;
       margin-left: 30px;
    }

 }


 @media screen and (min-width:771px) and (max-width:1300px) {
   .blog .container {
      width: 100%;
   }

   .blog .box .b1 a {
      font-size: 16px;
   }
   
   
 }
 /* contact_us_section---------------------- */

 .contact_us form {
    /* background-color: aqua; */
    text-align: left;
    margin-left: 20%;
 }

 .contact_us form input {
    width: 35%;
    /*padding-bottom: 20px;
              */
    border: 1px solid #5555;
    margin: 0 30px 30px 0;
    padding: 10px 15px 15px 0px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
 }



 .contact_us form .s_input {
    width: 76%;
 }

 .contact_us form textarea {
    width: 76%;
    padding: 10px 15px 40px 0px;
    border: 1px solid #5555;


 }

 @media screen and (min-width:430px) and (max-width:770px) {


    .contact_us form input {
       width: 100%;
    }

    .contact_us form .s_input {
       width: 100%;
    }

    .contact_us form textarea {
       width: 100%;
       padding: 10px 15px 40px 0px;
       border: 1px solid #5555;


    }
 }

 @media screen and (min-width:771px) and (max-width:1000px) {


 }

 /* footer */
 .footer {
    background-color: #333333;
 }

 .footer .container {
    padding-top: 5%;
 }

 .footer .container i {
    color: #f1f1f1;
    padding-left: 15px;
    padding-bottom: 15px;
 }

 .footer .container a {
    text-decoration: none;
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;

 }

 .footer .container span a {
    color: #ff305b;
 }

 .footer .container i:hover {
    color: #ff305b;
 }

 .footer .container p {
    color: white;
 }